// variables

// color
// background color
$background-color: #3F72AF;

// navbar color: 
$navbar-color: #112D4E;

// calculator color
$calc-color: #F9F7F7;
$keys-color: #040303;
$standout-color: #FFA500;
$divider-color: #2C3639;

// logo color
$logo-color: #DBE2EF;


// font family
$logo-font: 'Anek Latin', sans-serif;
$btn-font: 'Nunito', sans-serif;
$link-font: 'Noto Sans JP', sans-serif;