// import Google font
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;700&family=Noto+Sans+JP&family=Nunito:ital,wght@0,400;1,700&display=swap');

// variables

// color
// background color
$background-color: #2D4263;

// navbar color
$navbar-color: #06283D;

// calculator color
$calc-color: #F9F2ED;
$keys-color: #040303;
$divider-color: #1D1D1F;

// logo color
$logo-color: #C4DDFF;


// font family
$logo-font: 'Anek Latin', sans-serif;
$btn-font: 'Nunito', sans-serif;
$link-font: 'Noto Sans JP', sans-serif;

// tag selector

* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // GLOBAL
    color: $keys-color;
    font-family: $btn-font;
}

a:link,
a:visited {
    text-decoration: none;
}

hr {
    border-style: none;
}


// components

// navbar

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: $navbar-color;

    .nav__logo {
        font-family: $logo-font;
        font-weight: 500;
        font-size: 1.7rem;
        color: $logo-color;
    }

    .nav__formula-link {
        font-family: $logo-font;
        font-size: 1rem;
        color: $logo-color;
    }
}

main {
    height: 90vh;

    #calculator {
        background-color: $background-color;
        height: 100%;
        // padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .calculator__container {
            border: 2px solid black;
            border-radius: 1rem;
            background-color: $calc-color;
            height: 80%;
            
            .calculator__display {
                margin: 2rem 1rem 0;
                text-align: right;
            }
            
            .calculator__divider {
                background-color: $divider-color;
                width: 100%;
                height: 2px;
            }

            .calculator__keypads {
                max-height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 20% 20% 20% 20%;
                
                .calculator__btn {

                    font-size: 2.8rem;

                    &--c {
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                    }

                    &--pm {
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                    }

                    &--cent {
                        grid-column: 3 / 4;
                        grid-row: 1 / 2;
                    }

                    &--division {
                        grid-column: 4 / 5;
                        grid-row: 1 / 2;
                    }

                    &--seven {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    &--eight {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                    }

                    &--nine {
                        grid-column: 3 / 4;
                        grid-row: 2 / 3;
                    }

                    &--multiply {
                        grid-column: 4 / 5;
                        grid-row: 2 / 3;
                    }

                    &--four {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                    }

                    &--five {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                    }

                    &--six {
                        grid-column: 3 / 4;
                        grid-row: 3 / 4;
                    }

                    &--minus {
                        grid-column: 4 / 5;
                        grid-row: 3 / 4;
                    }

                    &--one {
                        grid-column: 1 / 2;
                        grid-row: 4 / 5;
                    }

                    &--two {
                        grid-column: 2 / 3;
                        grid-row: 4 / 5;
                    }

                    &--three {
                        grid-column: 3 / 4;
                        grid-row: 4 / 5;
                    }

                    &--plus {
                        grid-column: 4 / 5;
                        grid-row: 4 / 5;
                    }

                    &--zero {
                        grid-column: 1 / 3;
                        grid-row: 5 / 6;
                    }

                    &--dot {
                        grid-column: 3 / 4;
                        grid-row: 5 / 6;
                    }

                    &--equal {
                        grid-column: 4 / 5;
                        grid-row: 5 / 6;
                    }

                }
                
        
            }
        

        }


    }

}
