@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;700&family=Noto+Sans+JP&family=Nunito:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #040303;
  font-family: "Nunito", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

hr {
  border-style: none;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: #06283D;
}
nav .nav__logo {
  font-family: "Anek Latin", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #C4DDFF;
}
nav .nav__formula-link {
  font-family: "Anek Latin", sans-serif;
  font-size: 1.3rem;
  color: #C4DDFF;
}

main {
  background-color: #2D4263;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .calculator {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #F9F2ED;
  width: 60%;
  height: 80%;
}
main .calculator .calculator__display {
  margin: 3rem 2rem 0;
  text-align: right;
}
main .calculator .calculator__display .calculator__input {
  border: 1px solid black;
}
main .calculator .calculator__display .calculator__output {
  border: 1px solid black;
}
main .calculator .calculator__divider {
  background-color: #1D1D1F;
  width: 100%;
  height: 2px;
}
main .calculator .calculator__container .calculator__keypads .calculator__row .calculator__btn {
  width: 3rem;
  height: 1rem;
}