@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;700&family=Noto+Sans+JP&family=Nunito:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #040303;
  font-family: "Nunito", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

hr {
  border-style: none;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #112D4E;
}
nav .nav__logo {
  font-family: "Anek Latin", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: #DBE2EF;
}
nav .nav__formula-link {
  font-family: "Anek Latin", sans-serif;
  font-size: 1rem;
  color: #DBE2EF;
}

main {
  height: 90vh;
}
main #calculator {
  background-color: #3F72AF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #calculator .calculator__container {
  border: 2.8px solid #2C3639;
  border-radius: 1rem;
  background-color: #F9F7F7;
  max-height: 75%;
  max-width: 80%;
}
main #calculator .calculator__container .calculator__display {
  margin: 2rem 1rem 0;
  text-align: right;
}
main #calculator .calculator__container .calculator__divider {
  background-color: #2C3639;
  width: 100%;
  height: 2.5px;
}
main #calculator .calculator__container .calculator__keypad {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
main #calculator .calculator__container .calculator__keypad .calculator__btn {
  font-size: 2.2rem;
  cursor: pointer;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn:hover {
  background-color: #1363DF;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--c {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--pm {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--cent {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--division {
  grid-column: 4/5;
  grid-row: 1/2;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--seven {
  grid-column: 1/2;
  grid-row: 2/3;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--eight {
  grid-column: 2/3;
  grid-row: 2/3;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--nine {
  grid-column: 3/4;
  grid-row: 2/3;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--multiply {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--four {
  grid-column: 1/2;
  grid-row: 3/4;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--five {
  grid-column: 2/3;
  grid-row: 3/4;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--six {
  grid-column: 3/4;
  grid-row: 3/4;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--minus {
  grid-column: 4/5;
  grid-row: 3/4;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--one {
  grid-column: 1/2;
  grid-row: 4/5;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--two {
  grid-column: 2/3;
  grid-row: 4/5;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--three {
  grid-column: 3/4;
  grid-row: 4/5;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--plus {
  grid-column: 4/5;
  grid-row: 4/5;
  background-color: #FFA500;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--zero {
  grid-column: 1/3;
  grid-row: 5/6;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--dot {
  grid-column: 3/4;
  grid-row: 5/6;
}
main #calculator .calculator__container .calculator__keypad .calculator__btn--equal {
  grid-column: 4/5;
  grid-row: 5/6;
  background-color: #FFA500;
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 3rem 2rem;
  }
  nav .nav__logo {
    font-size: 2.8rem;
  }
  nav .nav__formula-link {
    font-size: 1.4rem;
  }

  main #calculator .calculator__container {
    height: 100%;
    width: 40%;
  }
  main #calculator .calculator__container .calculator__display {
    margin: 2rem 1rem 0;
    text-align: right;
    font-size: 2.8rem;
  }
  main #calculator .calculator__container .calculator__keypad .calculator__btn {
    font-size: 2.5rem;
    background-color: #FFA500;
  }
}