// import Google font
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;700&family=Noto+Sans+JP&family=Nunito:ital,wght@0,400;1,700&display=swap');

// variables

// color
// background color
$background-color: #2D4263;

// navbar color
$navbar-color: #06283D;

// calculator color
$calc-color: #F9F2ED;
$keys-color: #040303;
$divider-color: #1D1D1F;

// logo color
$logo-color: #C4DDFF;


// font family
$logo-font: 'Anek Latin', sans-serif;
$btn-font: 'Nunito', sans-serif;
$link-font: 'Noto Sans JP', sans-serif;

// tag selector

* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // GLOBAL
    color: $keys-color;
    font-family: $btn-font;
}

a:link,
a:visited {
    text-decoration: none;
}

hr {
    border-style: none;
}


// components

// navbar

nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: $navbar-color;

    .nav__logo {
        font-family: $logo-font;
        font-weight: 500;
        font-size: 2rem;
        color: $logo-color;
    }

    .nav__formula-link {
        font-family: $logo-font;
        font-size: 1.3rem;
        color: $logo-color;
    }
}

main {
    background-color: $background-color;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .calculator {
        border: 2px solid black;
        border-radius: 1rem;
        background-color: $calc-color;
        width: 60%;
        height: 80%;

        .calculator__display {
            margin: 3rem 2rem 0;
            text-align: right;

            .calculator__input {
                border: 1px solid black;
                
                
            }

            .calculator__output {
                border: 1px solid black;
                
                
            }
        }

        .calculator__divider {
            background-color: $divider-color;
            width: 100%;
            height: 2px;
        }

        .calculator__container {

            .calculator__keypads {

                .calculator__row {

                    .calculator__btn {
                        width: 3rem;
                        height: 1rem;
                    }
                
                }

        
        
            }

        }
    

    }


}
